<!-- <ion-header>
<ion-toolbar color="tertiary">
  <ion-buttons >
      <ion-back-button slot="start" text="Volver" defaultHref="/"></ion-back-button> 
      <ion-title>Title</ion-title>
  </ion-buttons>

</ion-toolbar>
</ion-header> -->


<ion-content>

  <div class="d-flex-center">


    <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()" >
      <div class="gradient-input">
        <ion-label>Correo</ion-label>
        <div class="input">
          <ion-input formControlName='email' type="email" autocomplete="email" placeholder="jhondoe@gmail.com"></ion-input>
        </div>
      </div>

      <div class="gradient-input">
        <ion-label>Correo</ion-label>
        <div class="input">
          <ion-input formControlName='password' type="password" placeholder="********">
            <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
          </ion-input>
        </div>
      </div>
      
      <p class="ion-text-end">¿Olvidaste tu contraseña?</p>

      <ion-row class="ion-padding-bottom">
        <ion-col size="9">
          <ion-button class="gradient-btn" type="submit" expand="block">
            Ingresar
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="gradient-btn ion-no-padding" type="submit" expand="block">
            <ion-icon slot="end" name="finger-print-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <p>¿No tienes cuenta? <strong>Regístrate</strong></p>



    </form>
  </div>

</ion-content>