
  
  <ion-card>


    <ion-card-header>  
      <ion-card-title>
        <h2>Muro de comunidad</h2>
      <!-- <ion-card-subtitle >
        <ion-button  shape="round" color="success">
          Editar
        </ion-button>
        <ion-button  shape="round"color="success">
          Publicar
        </ion-button>
        <ion-button shape="round" color="success">
          Eliminar
        </ion-button>
        
      </ion-card-subtitle> -->
    </ion-card-title>
    </ion-card-header>


    <ion-card-content class="infinite-scroll-content">
      <div class="scrollable-section">

      <ion-list>
        <!-- Lista dinámica de publicaciones -->
        <ion-item *ngFor="let item of items; let i = index">
          <ion-avatar slot="start">
            <img [src]="item.avatar || 'https://via.placeholder.com/80'" alt="avatar" />
          </ion-avatar>

          <ion-label>
            <h2>{{ item.titulo }}</h2>
            <p>{{ item.descripcion }}</p>
            <small>{{ item.fecha | date: 'fullDate' }}</small>
          </ion-label>

        </ion-item>
      </ion-list>
    </div>
    </ion-card-content>
  </ion-card>
  



<!-- <div class=""></div>
  <ion-button class="ion-text-center" [routerLink]="['/login']">AGREGAR CARGO</ion-button>
  <ion-button  class="ion-text-center" [routerLink]="['/registro-usuario']">Registrarse</ion-button> -->
